@font-face {
    font-family: "vazir";
    src: url(./fonts/Vazirmatn-Medium.woff2) format("woff2");
}

body{
    font-family: "vazir";
    margin: 0;
    font-size: 100%;
    background-color: #f7f7f7;
}
header{
 background-color: #df5381;
 height:6rem;
 border-bottom-left-radius: 2rem;
 border-bottom-right-radius: 2rem;
 margin-bottom: 5rem;
}
.container{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.header-nav-left , .header-nav-right{
    display: flex;
}
.header-nav-left{
  display: flex;
  justify-content: left;
  align-items: center;

}

.header-nav-right{
  display: flex;
  justify-content: left;
  align-items: center;
}
.bi-cart3{
    margin-top: 1rem;
    /* margin-left: 2rem;
    margin-right: ; */
    cursor: pointer;
}
.fa-cart-icon{
    display:flex ;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}
.cart-counter{
    /* display: flex; */
    /* flex-direction: row; */
    /* background-color: #ffffff; */
    color: #ffffff;
    padding-top: 0.5rem;
    padding-left: 0.3rem;
    margin: 0.5rem;
   
    border-radius:30rem;
    position:absolute;
    top:2rem;
    left: 3rem;
}
.enter-membership{
    color: #ffffff;
    margin-top: 1em;
    font-size:1.25rem ;
    cursor: pointer;
}
.enter-membership:hover{
   color: #eee1e5;
}
.bi-person{
    margin-top: 1rem;
    margin-left: 0.7rem;
    cursor: pointer;
}
.bi-person:hover{
  color:#ecd8df;
}
.pink{
    margin-top: 1rem;
    margin-left: 25rem;
    color: #ffffff;
    font-size: 2rem;

}
.classification{          /*classification of clothes*/
    color: #ffffff;
    /* background-color: #cd416d; */
    cursor: pointer;
    font-size:1.25rem ;
    margin-top: 1rem;
    margin-right:2rem ;
}
.classification:hover{
    color: #eee1e5;
}
.search-box1{
    display: flex;
    margin-top: 1.5rem;
    margin-right: 4rem;
   
}
.search-box{
    font-family: "vazir";
    text-align: right; 
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    border: none;
    
}
.search-box::placeholder{
    background-color: #ffffff;
    color: #d599ad;
    font-size: 1rem;
}
.bi-search{
    margin-left: 0.3rem;
}
.fa-magnifier{
    cursor: pointer;
   
} 



/*----------------------------------------*/
/*cart tab part*/
body.showCart .cartTab{
    inset: 0 0 0 auto;
}
/* body.showCart .container{
    transform: translateX(-250px);
} */
.cartTab{
    width: 400px;
    background-color: #df5381;
    color: #ffffff;
    position: fixed;
    /* top:0;
    right: 0;
    bottom: 0;     we use shorthand of this three items named inset */
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: 0.5s;
}
.cartTab h1{
    padding: 20px;
    text-align: right;
    margin: 0;
    font-weight: 300;
    font-size: 20px;
}
.button-close-checkOut{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.button-close-checkOut button{
    background-color: #ffffff;
    color:  #df5381;
    font-family: "vazir";
    border: none;
    font-weight: 700;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.close{
    cursor: pointer;
}
.button-close-checkOut button:hover{
   background-color: #ecd8df;
}
.cartTab .listCart .item img{
    width: 100%;
    margin-left: 10px;
    margin-top: 0;
    
}
.cartTab .listCart .item .name{
    margin-left: 40px;
    
}
/* .totalPrice{
    margin-right: 100px;
} */

.cartTab .listCart .item{
    display: grid; 
    grid-template-columns: 70px 150px 80px 1fr;
    gap: 10px; 
    align-items: center;
}
.listCart .quantity span{
  display: inline-block;
  width:19px;
  height:19px;
  background-color: #ffffff;
  color: #df5381;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.listCart .quantity span:hover{
    background-color:#ecd8df ;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color:#ffffff ;
}
.listCart .item:nth-child(odd){
    background-color: #cd416d;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}




/*----------------------------------------*/
/*slide show of pictures (man & woman) */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-bottom:5rem;
}

/* Hide the images by default */
.mySlides {
  display: none;
}



/* Caption text */
.text{
  color:  #545152;
  font-size: 15px;
  /* padding: 8px 12px; */
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*----------------------------------------*/
/* Footer */


.footer-container{
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #df5381;
    height: 15rem;
    border-top-left-radius:2rem ;
    border-top-right-radius: 2rem;
    color:  #ffffff;
    font-size: 1.25rem;
}
.footer-connection{
    display: flex;
    flex-direction: row-reverse;
    
}
.footer-text1{
    margin: 0 0.5rem;
}
.tell,.instagram,.telegram{
    margin: 0 0.25rem;
}
.footer-text2{
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
}
.footer-text3{
    margin-top: 1rem;
}


/*meno of classification text(men , women and childish clothes)*/
.Slideshow-meno-products{
    display: none;
    position:absolute;
    top: 70px;
    /* left: 0; */
    right: 15px;
    /* display: inline-block; */
    /* display: flex; */
    
    /* align-content: space-around; */
    background-color: #ffffff;
    color: #858384 ;
    /* width: 200px;
    height:170px; */
    text-align: right;
    /* padding: 50px 0; */
}
.link-menClothes{
    padding:0 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-womenClothes {
    padding:0 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link-childishClothes{
    padding:0 50px;
    padding-top: 10px;
    padding-bottom: 30px;
}

.hr1{
    width: 90%;
    margin: 0 5%;
}

.show{
    display: block;
}






